@charset "UTF-8";
body {
	background-color: #eeece9;
}
body {
	font: 10px sans-serif;
}
table {
    display: inline-block;
}
td {
    width: 200px;
    height: 100px;
    background: white;
    border: medium solid black;
    margin: 100px;
}
thead, tbody {
    display: block;
  }
thead {
    height: 50px;
}
tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100%-50px);
}
a:link {
	color: #d25833;
}
a:visited {
	color: #d25833;
}
a:hover {
	color: #e3937a;
}
a:active {
	color: #ff6a3b;
}
.item {
    font-size: 8px;
}
