@charset "UTF-8";

td {
    width: 200px;
    height: 100px;
    background: white;
    border: medium solid black;
    display: inline-block;
}
tbody {
    overflow-x: hidden;
    overflow-y: scroll;
    height: 100px;
}
a {
    text-decoration: none;
    color: black;
}
a:visited {
    color: black;
}
.btn {
    width: 200px;
    height: 40px;
    background: skyblue;
    margin: 10px;
    text-align: center;
}
.item {
    font-size: 0.5 em;
}
