@charset "UTF-8";

.btn {
    width: 200px;
    height: 40px;
    background: skyblue;
    margin: 10px;
}
#tbl {
    width: 100px;
    height: 40px;
    background: pink;
    border: medium solid blue;
}