{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset='UTF-8'>
<title>情報アップロード</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <!-- テーブルを作成する。行：証拠品の数だけ作成 -->
    <table class="tbl">
        {% for stuff in stuffdata %}
            <tr>
                {% for person in persondata %}
                    <!-- 列：登場人物の数だけ作成 -->
                    <td></td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>


</body>
    
</html>