{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset='UTF-8'>
<title>情報アップロード</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
<div id="btn_upinfo" class="btn">
    <a href="{% url 'uploadinfo' %}">情報をアップロード</a>
</div>
<div id="btn_upimg" class="btn">
    画像をアップロード
</div>
<div id="btn_kikikomi" class="btn">
    <a href="{% url 'dispinfo' %}">聞き込み表を見る</a>
</div>
<div id="btn_twitter" class="btn">
    画像を見る
</div>
<div id="btn_addperson" class="btn">
    <a href="{% url 'addperson' %}">登場人物登録</a>
</div>
<div id="btn_addstuff" class="btn">
    <a href="{% url 'addstuff' %}">証拠品登録</a>
</div>
</body>
    
</html>