{% load static %}
<!DOCTYPE html>
<html lang="ja">
<head>
<meta charset='UTF-8'>
<title>情報アップロード</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
<a href="{% url 'uploadinfo' %}"><div id="btn_upinfo" class="btn">
    情報をアップロード
</div></a>
<div id="btn_upimg" class="btn">
    画像をアップロード
</div>
<a href="{% url 'dispinfo' %}"><div id="btn_kikikomi" class="btn">
    聞き込み表を見る
</div></a>
<div id="btn_twitter" class="btn">
    画像を見る
</div>
<a href="{% url 'addperson' %}"><div id="btn_addperson" class="btn">
    登場人物登録
</div></a>
<a href="{% url 'addstuff' %}"><div id="btn_addstuff" class="btn">
    証拠品登録
</div></a>
</body>
    
</html>